[submodule "themes/hugo-initio"]
	path = themes/hugo-initio
	url = https://github.com/miguelsimoni/hugo-initio.git
[submodule "hugo-profile"]
	path = hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
